@charset "utf-8";

.blazored-typeahead__input {
	background: $grey-darker;
	color: $scheme-invert;
}

.blazored-typeahead__input-mask-wrapper {
	background: $grey-darker;
	color: $scheme-invert;
	border-radius: 5px;
}

.blazored-typeahead__results {
	background: $grey-darker;
	color: $scheme-invert;
}
  

.blazored-typeahead__active-item, .blazored-typeahead__result:hover, .blazored-typeahead__result:focus {
	background-color: $link;
	border-top: $link;
	border-bottom: $link;
	color: $scheme-invert;
}

.blazored-typeahead__clear:hover {
	color: $red;
}