@page "/debugger"

<TopBar>
    <IndividualStationSelector />
</TopBar>
<ContentWrapper>
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <h2 class="is-size-4">POS Debugger</h2>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <button class="button is-warning" @onclick="OnEditDebugClick">Edit Debugs</button>
            </div>
        </div>
    </div>

</ContentWrapper>

<div class="modal @modalActive">
    <div class="modal-background" @onclick="OnBackgroundClick"></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <DebuggerEditForm />
        </div>
    </div>
</div>

@code {
    private string modalActive = "";

    public void OnEditDebugClick()
    {
        modalActive = "is-active";
    }

    public void OnBackgroundClick()
    {
        modalActive = "";
    }
}
