@inject IPosEndpoint endpoint

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h2 class="is-size-4">@Station.Company - @Station.Name</h2>
        </div>
    </div>
    <div class="level-right">
        <button class="button level-item">Edit</button>
    </div>
</div>
<p>Lorem</p>

<h3 class="is-size-5">POS Hardware</h3>
@if (PosList is null)
{
    <LoadingBar />
}
else if (PosList.Count == 0)
{
    <p>No POS found.</p>
}
else
{
    <PosTable PosModels="PosList" />
}

@code {
    [Parameter] public StationModel Station { get; set; }

    public List<PosModel> PosList { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        PosList = await endpoint.GetAllByStationId(Station.Id);
    }
}
