html, body {
    min-height: 100vh;
    overflow:auto;
}

#app {
    height: 100vh;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.page-container {
    height: 100%;
}

.menu {
    position: fixed;
    vertical-align: top;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 250px;
    top: 0;
    left: 0;
    z-index: +1;
}

.menu > .title {
    padding: 0.5rem 0 0 0.5rem;
}

.menu-list a {
    padding-left: 30px;
}

.menu-list .info {
    padding-left: 20px;
}

.page-content {
    margin-left: 250px;
    height: 100%;
}

.sticky-bottom {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
}

#blazor-error-ui {
    background: lightyellow;
    color: black;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
